include style

html 
    head 
        title title Movie Database - Search Results
body(class="bg-theme-blue-600 text-2xl text-theme-blue-100")  
    include ../partials/header
    div(class="flex flex-col mx-auto max-w-7xl container px-4 lg:px-24")
        div(class="mt-12")
            div(class="flex flex-col items-center my-8 px-2")
                a(href="/")
                img(src="/reel.png" width="200" height="200")
            h3 Here are your top search results:
            div(class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 xl:grid-cols-5 gap-4 overflow-y-scroll mb-4 scrollbar scrollbar-thin scrollbar-thumb-rounded scrollbar-track-theme-blue-500 scrollbar-thumb-blue-200")
                each movie in results 
                        a(href="/movies/exampleMovie" class="flex items-center bg-theme-blue-400 rounded h-64 w-48 text-theme-blue-600 text-center px-4") #{movie.Title}
                each movie in results 
                        a(href="/movies/exampleMovie" class="flex items-center bg-theme-blue-400 rounded h-64 w-48 text-theme-blue-600 text-center px-4") #{movie.Title}
    include ../partials/footer