div(class="flex justify-between px-10 py-2 text-theme-blue-100 font-light font-serif")#header
	a(class="uppercase text-theme-orange text-2xl font-bold" href="/") Movie Night
	div(class="font-extralight text-lg space-x-10")
		a(href="/movies" class="hover:text-theme-orange") by title 
		a(href="/people" class="hover:text-theme-orange") film-crew
	div(class="flex font-extralight text-lg space-x-4") 
		a(href="/users/ownprofile" class="hover:text-theme-orange") account
		p | 
		a(href="/users/logout" class="hover:text-theme-orange") sign-out